[user]
    email = 36654508+mtkhawaja@users.noreply.github.com
    name = Muneeb Khawaja

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[color "branch"]
    current = green bold
    local = green
    remote = yellow

[commit]
    verbose = true